%h2 Nouvelles mesures
%table
  %tbody
    %tr
      %th(scope='row') Taille
      %td
        = form.text_field :height, size: 4
        %em cm
      %th(scope='row') Poids
      %td
        = form.text_field :weight, size: 4
        %em kg
      %th(scope='row') Perim. Brac.
      %td
        = form.text_field :mac, size: 4
        %em cm
