%h2 Nouvelles mesures
%table
  %tbody
    %tr
      %th(scope='row') Taille
      %td
        = form.text_field :height, size: 4, class: 'float'
        %em cm
      %th(scope='row') Poids
      %td
        = form.text_field :weight, size: 4, class: 'float'
        %em kg
      %th(scope='row') Périm. Brac.
      %td
        = form.text_field :mac, size: 4, class: 'integer'
        %em mm
