- diagnostic ||= nil
.ratios
  %ul
    = render :partial => 'diagnostics/index', :locals => {:name => 'weight_height', :diagnostic => diagnostic}
    = render :partial => 'diagnostics/index', :locals => {:name => 'height_age', :diagnostic => diagnostic}
    = render :partial => 'diagnostics/index', :locals => {:name => 'weight_age', :diagnostic => diagnostic}
