- content_for :breadcrumbs do
  %ul#breadcrumbs
    %li= link_to "Nouvelle Recherche", children_path
    %li= link_to @diagnostic.child.name, @diagnostic.child
    %li Nouveau diagnostic
    
- form_for @diagnostic, url: child_diagnostics_path(@child), html: { class: 'new diagnostic' } do |form|
  = partial 'edit', locals: { form: form }
