%h3 Vérification de l’état vaccinal (cocher également les vaccins administrés ce jour) :
%table
  - child.form_vaccinations.each_slice(3) do |slice|
    %tr
      - for key, name in slice do
        %td= form.select key, [nil, 0, 1, 2], { selected: child.send(key) }, :class => 'boolean nullable negative'
        %th= form.label key, name
