%table
  %tbody
    %tr
      %th(scope='row') Taille
      %td #{diagnostic.height} cm
    %tr
      %th(scope='row') Poids
      %td #{diagnostic.weight} kg
    %tr
      %th(scope='row') Perim. Brac.
      %td #{diagnostic.mac} cm
