.profile-child
  #mugshot.photo(data-field='child[photo]')
    %img{alt: '', src: @child.photo.url(:thumbnail)}
  %section
    .editable{'data-edit-href' => edit_child_path(@child)}
      = partial 'children/'+(show? ? 'show' : 'editer'), locals: { child: @child }
    .measurements
      %h2 Dernières mesures
      - if @child.last_visit
        = partial 'children/measurements', locals: { diagnostic: @child.last_visit }
      - else
        %p Never measured.
    .vaccinations
      %h3 Vaccinations :
      %ul
        - for i in @child.vaccinations do
          %li= i
