- form_for @child, html: { class: 'new child diagnostic' } do |form|
  .profile-child
    %div#mugshot.photo{'data-field' => 'child[photo]', 'data-method' => 'post', 'data-action' => temp_children_path}
      %img{alt: '', src: @child.photo.url(:thumbnail)}
    %section
      %div.editable= partial 'edit_fields', locals: { form: form }
      - form.fields_for :diagnostic, @diagnostic do |fields|
        %div.measurements= partial 'diagnostics/edit_measurements', locals: { form: fields }
      .next
        %button(type="button") Suivant
  - form.fields_for :diagnostic, @diagnostic do |fields|
    = partial 'diagnostics/edit_signs', locals: { form: fields }
  %nav
    %button(type="submit") Terminer la consultation
