- form_for @child do |form|
  %section.profile
    %div
      %img(alt='')
    %div= partial 'edit_fields', locals: { form: form }
    - form.fields_for :diagnostic, @diagnostic do |fields|
      %div= partial 'diagnostics/new_measurements', locals: { form: fields }
  %section
    - form.fields_for :diagnostic, @diagnostic do |fields|
      = partial 'diagnostics/new', locals: { form: fields }
