= form_for @child, html: { class: 'new child diagnostic' } do |form|
  = form.fields_for :diagnostic, @diagnostic do |fields|
    .vaccinations= partial 'edit_vaccinations', locals: { form: form, child: @child }
    = partial 'diagnostics/edit_signs', locals: { form: fields }
