= partial 'children/profile'
- for diag in @child.diagnostics.order('id DESC').limit(5) do
  %section.consultation= partial 'diagnostics/header', locals: { diag: diag }

%nav
  %p.hint Le patient se présente à nouveau au dispensaire ?
  = link_to 'Nouvelle consulation', new_child_diagnostic_path(@child)
