#user-session
  %h1 Choix du site
  = form_tag villages_children_path, :method => 'post' do
    %div
      = select_tag :site, options_for_select(Village.site_select)
    %div
      %button(type='submit') Choisir
