$link:      #007ec5
$bg_th:     #f2ffe7
$border_th: #ccff99
$color_th:  #66cc33

*
  outline: none

body
  background: #e8e8e5 url(../images/backgrounds/bg-header.gif) repeat-x 0 -27px
  font-family: Verdana
  font-size: 12px
  margin: auto
  -webkit-font-smoothing: antialiased
  width: 1000px

  
#transient
  background-color: white
  position: fixed
  -webkit-box-shadow: 0 0 12px black
  -webkit-border-radius: 6px
  padding: 10px
#transient, section
  *:first-child
    margin-top: 0
  *:last-child
    margin-bottom: 0

form#login
  background-color: white
  -webkit-border-radius: 12px
  padding: 10px
  width: 410px
  margin: 100px auto
  div>*
    display: inline-block
    width: 200px
    font-size: 1.3em
  div:last-child
    margin-top: 10px
    text-align: center
input.blank
  color: #999

a
  color = !link

h1
  color: maroon
  font-size: 1.4em

h2
  font-size: 1.4em
  span.by
    display: block
    float: right

select.boolean
  & + button
    border: none
    cursor: pointer
    position: relative
    display: inline-block
    background-color: #999
    padding: 2px
    padding-left: 1em
    padding-right: 1em
    -webkit-border-radius: 6px
  &.false + button
    padding-right: 2em
    padding-left: 2px
  &.true + button
    padding-left: 2em
    padding-right: 2px
  & + button:after
    -webkit-border-radius: 4px
    font-size: 10px
    padding: 2px
    display: inline-block
    width: 3em
    text-align: center
    content: '?'
    background-color: #ddd
    color: #777
  &.false + button:after
    margin-right: -2px
    content: 'NON'
    background-color: #fdd
    color: black
  &.true + button:after
    margin-left: -2px
    content: 'OUI'
    background-color: #dfd
    color: black

header
  position: relative
  display: block
  height: 44px
  line-height: 50px
  margin: 0 0 10px
  overflow: hidden
  form
    float: right
    margin: 0 10px
    font-size: 15px
    position: relative
    top: -4px
    color: white
  #user
    font-weight: bold
  button
    background: url(../images/backgrounds/bg-header.gif) no-repeat
    border: none
    cursor: pointer
    height: 27px
    position: relative
    top: -4px
    width: 27px
    color: transparent
    font-size: 0
    margin: 0 0 0 5px

nav
  display: block
  text-align: center
  &#prev
    float: left
    line-height: 43px
    a
      background-image: url(../images/backgrounds/button-back-index.png)
      font-weight: bold
      height: 38px
      line-height: 38px
      padding: 0 5px 0 37px
      text-shadow 0 -1px 0 #0096eb
      &:after  
        background: url(../images/backgrounds/button-back-index.png) -39px right no-repeat
        height: 38px
  p.hint
    background-color: #e4a000
    border: 2px solid #b27d01
    color: white 
    display: inline-block
    font-size: 1.15em
    height: 29px
    line-height: 29px
    margin: 0
    padding: 0 7px
    -webkit-border-radius: 6px
nav a, nav button, section button[type=submit]
  display: inline-block
  border: none
  cursor: pointer
  font-size: 12px
  height: 29px
  line-height: 29px
  position: relative
  padding: 0 2px 0 9px
  margin: 0 17px 0 10px
  text-decoration: none
  /* Overrideable:
  background: url(../images/bnl.png)
  color: white
  &.new-diagnostic
    background: url(../images/backgrounds/button-new-diagnostic.gif)
    font-size: 1.4em
    font-weight: bold
    height: 46px
    line-height: 46px
    padding: 0 7px 0 50px
    &:after  
      background: url(../images/backgrounds/button-new-diagnostic.gif) -46px right no-repeat
      height: 46px
      width: 10px
  &.new-child
    background: url(../images/backgrounds/button-new-child.gif)
    font-size: 1.4em
    font-weight: bold
    height: 46px
    line-height: 46px
    padding: 0 7px 0 50px
    &:after  
      background: url(../images/backgrounds/button-new-child.gif) -46px right no-repeat
      height: 46px
      width: 10px
  &:after
    display: block
    position: absolute
    top: 0
    right: -7px
    content: ""
    height: 29px
    width: 7px
    background: url(../images/bnr.png) center right no-repeat

.profile-child
  overflow: hidden
  .photo
    margin: 10px 0 0 10px
    float: left
  section
    float: right
    padding: 17px 20px
    width: 800px
    span.name
      color = !link
      font-size: 1.55em
      font-weight: bold
    .editable
      width: 350px
      float: left
      position: relative
      form
        margin: 0
      button
        position: absolute
        right: 5px
        top: 5px
        border: 0
      p
        color: #666
        font-size: 1.1em
        line-height: 1.4em
        margin: 12px 0 0
    .measurements
      width: 440px
      float: right
      h2
        margin: 0
      p, ul
        display: block
        border: 2px solid #efefef
        border-top: 0
        margin: 0
        -webkit-border-bottom-left-radius: 4px
        -webkit-border-bottom-right-radius: 4px
        padding: 10px
        color: #666
      table
        :
        
section
  /* One section is 960px wide
  background-color: #fff
  border: 3px solid #d3d3d0
  display: block
  margin: 10px
  padding: 10px
  -webkit-border-radius: 12px
  &>h2
    &:first-child
      background-color: #f96
      margin: -10px
      margin-bottom: 0
      padding: 10px
      border-bottom: solid 1px #888
      -webkit-border-top-left-radius: 12px
      -webkit-border-top-right-radius: 12px
    &:last-child
      -webkit-border-radius: 12px
      border-bottom: none
      margin-bottom: -10px
  &.illness
    h2
      background: url(../images/backgrounds/bg-headings.gif) repeat-x 0 0 
      color: white
      height: 32px
      padding: 0 0 0 10px
      line-height: 32px
      border: 0
      -webkit-border-top-left-radius: 10px
      -webkit-border-top-right-radius: 10px
  &.closed
    padding-bottom: 0
    &>*
      display: none
    &>h2
      display: block
      border: none
      -webkit-border-radius: 12px
  h1
    background: url(../images/backgrounds/bg-headings.gif) repeat-x 0 0
    border: 2px solid #0096eb
    color: white
    display: block
    height: 32px
    line-height: 32px
    margin: 0
    padding: 0 0 0 10px
    -webkit-border-top-left-radius: 4px
    -webkit-border-top-right-radius: 4px
  h2
    background = !bg_th
    color = !color_th
    font-size: 1.1em
    padding: 5px 7px
    border: 2px solid !border_th
    -webkit-border-top-left-radius: 4px
    -webkit-border-top-right-radius: 4px
  table
    border-spacing: 0
    &.children
      background: none
      border-bottom: 2px solid #efefef
      -webkit-border-bottom-left-radius: 5px
      -webkit-border-bottom-right-radius: 5px
      th
        background = !bg_th
        border: 3px solid !border_th
        border-left: 0
        color = !color_th
        font-size: 1.25em
        padding: 8px 10px
        &:first-child
          border-left: 3px solid #ccff99
          -webkit-border-top-left-radius: 6px
        &:last-child
          -webkit-border-top-right-radius: 6px
      td
        border-right: 3px solid #efefef
        border-bottom: 1px solid #efefef
        color: #666
        font-size: 1.2em
        padding: 8px 10px
        &:first-child
          border-left: 3px solid #efefef
           
table
  background-color: #bbb
  margin: 1em 0
  width: 100%
  border-spacing: 1px
fieldset
  border: solid 3px #ddd
  margin: 1.4em 0
  legend
    font-size: 1.3em
    padding: auto 1em
  table
    border-spacing: 0
    background-color: transparent
  th, td
    border: none
    background-color: transparent

th, td
  text-align: left
  padding: 2px 4px

th
  background-color: #fed
  border: solid 1px white

td
  background-color: white

table+div.pagination
  margin: -1em 0 0 0
  border: solid 2px #bbb
  border-top: none
  background-color: #fed
  form
    text-align: center
    margin: 0
    padding: 2px
    border: solid 1px white

div.pagination
  input
    text-align: right
    width: 2em
  a
    text-decoration: none
    font-size: 1.2em
    color: black

.profile>div
  float: left
  padding: 4px

.profile
  h1
    font-size: 1.6em
  h2
    font-size: 1em
  img
    width: 130px
    height: 130px
    display: block
    -webkit-border-radius: 8px
  div+div
    margin-left: 10px
    padding: 10px
    width: 512px
    height: 118px
  div+div+div
    margin-left: 10px
    padding: 10px
    width: 270px
    height: 118px

.consultation
  table
    float: left
    width: 60%
  table+table
    float: right
    width: 38%
  table+ul
    float: right
    width: 37%
    padding: 0
  ul.classification
    font-size: 1.3em

.profile:after, .consultation:after
  display: block
  content: ""
  clear: both
  height: 0

tr.has-errors
  th
    color: red
div.fieldWithErrors input[type=text]
  border-color: red
