#user-session
  %h1 Nouveau centre
  %p Création du premier utilisateur
  - form_for @user do |f|
    %div  
      %label Site
      %select(name="zone_id")
        - for title, id in Zone.root.to_select(include_self: true) do
          %option(value=id)!= title
    = partial 'users/form', locals: { form: f }
