#user-session
  %h1 Nouveau centre
  %p Création du premier utilisateur
  - form_for @user do |f|
    %div  
      %label Site
      = select_tag :zone_id, options_for_select(Zone.points.to_select)
    = partial 'users/form', locals: { form: f }
