%div
  %label Nom
  = form.text_field :name
%div
  %label Username
  = form.text_field :login
%div
  %label Password
  = form.password_field :password
%div
  %label Password confirmation
  = form.password_field :password_confirmation
%div
  %button(type="submit") Sauvegarder
