- content_for :breadcrumbs do
  %ul#breadcrumbs
    %li= link_to "Recherche Patient", children_path
    %li= link_to "Utilisateurs", users_path
    %li= @user.name

.welcome
  %h1 Editer le profil
  %p 
    C'est ici que vous pouvez modifier les 
    %br 
    renseignements de votre compte.
  - form_for @user, html: { :'data-admin-confirm' => "Vous ne serez plus administrateur après la première connexion du nouvel administrateur.\n\nVoulez-vous continuer ?" } do |f|
    = partial 'form', locals: { form: f }
    %div
      %button(type="submit") Modifier
