- content_for :breadcrumbs do
  %ul#breadcrumbs
    %li= link_to "Recherche Patient", children_path
    %li= link_to "Utilisateurs", users_path
    %li= @user.name
    
.welcome
  %h1 Editer le profil
  %p 
    C'est ici que vous pouvez modifier les 
    %br 
    renseignements de votre compte.
  - form_for @user do |f|
    = partial 'form', locals: { form: f }
    %div
      %button(type="submit") Modifier
