- content_for :breadcrumbs do
  %ul#breadcrumbs
    %li= link_to "Recherche Patient", children_path
    %li Utilisateurs

%nav= link_to 'Nouvel utilisateur', new_user_path, :class => 'new-user'

%section
  %h1 Utilisateurs
  %table.results.users
    %thead
      %tr
        %th Nom
        %th Administrateur
        %th
    %tbody
      - for user in @users.where(zone_id: Zone.csps.id) do
        %tr.local= partial 'user', locals: { user: user }
      - for user in @users.where('zone_id != ?', Zone.csps.id) do
        %tr.remote= partial 'user', locals: { user: user }
