%nav= link_to 'Nouvel utilisateur', new_user_path, :class => 'new-user'

%section
  %h1 Utilisateurs
  %table.results
    %thead
      %tr
        %th Nom
        %th Administrateur
    %tbody
      - for user in @users do
        %tr
          %td= link_to user.name, [ :edit, user ]
          %td= user.admin? ? 'Oui' : 'Non'
