- user = @user || current_user
.welcome
  %h1 Changer votre mot de passe, s'il vous plaît!
  - form_for user do |form|
    %div
      %label Mot de passe
      = form.password_field :password, :value => ''
      = errors_on form, :password
    %div
      %label Confirmer mot de passe
      = form.password_field :password_confirmation, :value => ''
      = errors_on form, :password_confirmation
    %div
      %button(type="submit") Modifier
