#user-session
  %h1 Connexion
  %form#login(method='post' action=session_path)
    - if @to
      %input{type: 'hidden', name: 'to', value: @to}/
    %div
      %label(for='session_login') Nom d'utilisateur
      %input#session_login{type:'text', name:'session[login]', value:@login}/
    %div
      %label(for='session_password') Mot de passe
      %input#session_password(type='password' name='session[password]')/
    %div
      %button(type='submit') Connexion
  
  - if @error
    %p.error= @error
