= partial 'children/profile'

%section.treatment
  %h2 Paludisme simple
  %ol
    %li Donner une combinaison thétapeutique à base d'arthmisinine
    %li Donner une combinaison thétapeutique à base d'arthmisinine

%section.treatment
  %h2 Commentaires
  %textarea{ :cols => "20", :rows =>"5" }
  
%nav
  %button.edit(type="submit") Modifier le diagnostic
  %button.validation(type="submit") Terminer le diagnostic