- content_for :breadcrumbs do
  %ul#breadcrumbs
    %li= link_to "Recherche Patient", children_path
    %li= link_to "Zones", zones_path
    %li Nouvelle Zone

.welcome
  %h1 Nouvelle zone
  - form_for @zone do |f|
    = render partial: 'form', locals: { form: f }
    %div
      %button(type="submit") Créer
