- queries = Query.order(:title)

%section.illness.list-arrow
  %h2 #{queries.size} statistiques
  %ul
    - queries.each do |q|
      %li{ :class => cycle("odd", "even") }= link_to q.title, query_path(q)
